{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}

{{- if eq $dest "#" -}}
  {{- $entry := .Title -}}
{{- $entryLower := lower $entry -}}
{{- $match := dict -}}

<!-- Go over the term data file - data/<lang>/termbase.yaml -->
{{- range (index site.Data site.Language.Lang "termbase") -}}
  {{- if or (eq (lower .abbr) $entryLower) (eq (lower .term) $entryLower) -}}
    {{- $match = . -}}
    {{- break -}}
  {{- end -}}
{{- end -}}

{{- with $match }}
  <abbr title="{{ .definition | plainify }}">
    {{- $external := false -}}
    {{- $link := "" -}}
    
    {{- with .link -}}
      {{- $external = strings.HasPrefix . "http" -}}
      {{- if hasPrefix . "/" -}}
        {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
      {{- end -}}
    {{- end -}}

    {{- with $link -}}
      <a href="{{- . -}}"
        {{- with $external -}}
          target="_blank" rel="noreferrer"
        {{- end -}}
      >
    {{- end -}}
      {{- $entry -}}
    {{- with $link -}}
      </a>
    {{- end -}}
  </abbr>
{{- else }}
  {{- $entry -}}
{{- end }}

{{- else -}}

{{- if and $dest (hasPrefix $dest "/") -}}
  {{- with or (.PageInner.GetPage $url.Path) (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
    {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
    {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
    {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
  {{- else -}}
    {{- $hasBasePrefix := and (ne site.Home.RelPermalink "/") (hasPrefix $dest site.Home.RelPermalink) -}}
    {{- if not $hasBasePrefix -}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with . -}}
{{- $isExternal := strings.HasPrefix .Destination "http" -}}
<a href="{{ $dest | safeURL }}"
   {{- with .Title -}}title="{{ . }}"{{- end -}}
   {{- if $isExternal -}}target="_blank" rel="noopener"{{- end -}}
>
  {{- .Text | safeHTML -}}
  {{- if and .Page.Site.Params.externalLinkDecoration $isExternal -}}
    {{- partial "utils/icon.html" (dict "name" "arrow-up-right" "attributes" `class="hx:inline hx:rtl:rotate-270 hx:align-baseline" height="1em" aria-hidden="true"`) -}}
  {{- end -}}
</a>
{{- end -}}
{{- end -}}
